@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

.hidden {
    display: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
}